@import 'variables.scss';
@import '../components/Header/Header.scss';
@import '../components/Footer/Footer.scss';
@import '../components/SearchBar/SearchBar.scss';
@import '../components/ImageList/ImageList.scss';

.main-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  
  
}
.App {
  text-align: center;
  
}



