.input-container {
    display: flex;
    justify-content: center;
    height: 30px;
    & form{
        display: flex;
        align-items: center;
        background: #{$cream};
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .inputSearch {
        background-color: transparent;
        width: 234px;
        height: 25px;
        border: none;
        text-align: left;
        opacity: 0.6;
        &::placeholder {
            font-family: #{$font-text};
        }
        &:focus{
            outline: none;
        }
    }
    .input-icon {
        color: grey;
        padding-left: 1rem;
        margin-right: 1rem;

    }
}


@media only screen and (min-width: 375px) {
    .input-container {
        .inputSearch {
            width: 320px;
            height: 25px;
            border: none;
            text-align: center;
        }
    }
}
@media only screen and (min-width: 668px) {
    .input-container {
        .inputSearch {
            width: 550px;
            height: 25px;
            border: none;
            text-align: center;
        }
        
    }
}
@media only screen and (min-width: 868px) {
    .input-container {
        .inputSearch {
            width: 690px;
            height: 25px;
            border: none;
            text-align: center;
        }
        
    }
}
@media only screen and (min-width: 968px) {
    .input-container {
        .inputSearch {
            width: 690px;
            height: 25px;
            border: none;
            text-align: center;
        }
        
    }
}
@media only screen and (min-width: 1200px) {
    .input-container {
        .inputSearch {
            width: 690px;
            height: 25px;
            border: none;
            text-align: center;
        }
    }
}
