body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  background: url("./Img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
